<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- This is how you can interpolate data in the web page -->
        <title>{% block title%}Sample{% endblock %}</title>
    </head>
    <body>
        <!-- This is how you can get js, css and regular HTML into the app-->
        <!-- in the index file you will then have you css stylesheet and any js functions-->
        <script 
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
        ></script>
    </body>
</html>