.App {
  text-align: center;
}

p {
  color: #fff;
}

body {
  background-color: #205cc9;
}

.invertButton {
  background-color: #fff;
  color:#205cc9;
}

.invertButtonSidebar {
  background-color: #fff;
  color:#205cc9;
  width: 100px;
}

.baseText {
  padding: 10px;
  color: #fff;
}

.displayArea {
  width: 400px;
}