.App {
  text-align: center;
}

p {
  color: #fff;
}

body {
  background-color: #4d4dff;
}

.invertButton {
  background-color: #fff;
  color:#4d4dff;
}

.invertButtonSidebar {
  background-color: #fff;
  color:#4d4dff;
  width: 100px;
}