.App {
  text-align: center;
}

button {
  width: 100px;
  background-color: #fff;
  color: #205cc9;
}

label {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  color: #fff;
}

body {
  background-color: #205cc9;
}

.titleText{
  color: #fff;
}

.invertButton {
  background-color: #fff;
  color:#205cc9;
}

.invertButtonSidebar {
  background-color: #fff;
  color:#205cc9;
  width: 120px;
  padding: 3px;
  margin: 3px;
  font-size: 16px;
}

.baseText {
  padding: 10px;
  color: #fff;
}

.subCategoryButton {
  background-color: #fff;
  color:#205cc9;
  width: 120px;
  padding: 1px;
  margin: 1px;
  font-size: 10pt;
}

.simBase {
  width: 700px;
  height: 500px;
  background-color: darkgray;
}

.tinyLogo {
  width:50px;
  height: 50px;
}

.displayArea {
  width: 400px;
}

img {
  max-width: 100%;
}