.App {
  text-align: center;
}

body {
  background-color: #000;
}

p {
  color: #fff;
}

.invertButton {
  background-color: #fff;
  color:#000;
  width: 120px;
  margin: 10px;
}

.inputField {
  background-color: #fff;
  width: 400px;
  text-align: center;
}

.displayArea {
  width: 400px;;
}

.sidebarbutton {
  width: 100px;
  background: #fff;
  margin: 2px;;
}

label {
  color:#fff;
  padding-right: 10px;
}